<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Rachel's Project 1 - About Me Page!</title>
    </head>
  <body> 
	<div>Hello, Welcome to Project 1! This is the about me page!</div>
	<p>I like Disney!</p>
	<p>But first here is a random cat fact!</p>
	<p id="catFact">INSERT CAT FACT HERE</p>
	<script type="text/javascript" src="/scripts/catFact.js"></script>
	<img src="/images/01.png"><img>
	<img src="/images/2.png"><img>
	<img src="/images/3.png"><img>
	<img src="/images/4.png"><img>
  </body>
</html>
